button.navbar-toggler {
  background-color: transparent;
  border: none;
  color: white;
}

button.navbar-toggler:hover,
button.navbar-toggler:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;

}
a {

  padding: 12px;
  border-radius: 2px;
  
  /* color: #fff; */
  text-decoration: none;
}
.link {
  color: #fff;
  text-decoration: none;
}

/* .link:hover {
  color: rgb(0, 255, 47);
} */

.link:hover {
  text-shadow: 0 8px 10px #4af6ff, 0 0 20px #ffffff, 0 6px 30px #2f7f85, 0 0 40px #61b8befa, 0 0 50px #4ec8d3;
  

}